@model empty.Models.AllBlogPostsViewModel

@Html.Partial("BlogPost/_BlogPostsPreview", @Model)
<!-- <div class="articles">
    @foreach (var post in Model.BlogPosts)
    {
    <div class="article">
        @Html.Partial("BlogPost/_BlogPost", post)
    </div>
    }
</div> -->
