<form asp-controller="FileUpload" asp-action="UploadFile" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button class="btn btn-default" type="submit">Wrzuć plik</button>
</form>