@model empty.Models.HomeViewModel

@{
    ViewData["Title"] = "Strona główna";
}
<div class="form-group">
    <div class="col-sm-8">
        @Html.Partial("Home/_NewsCarousel", Model.News)
        <div class="articles">
            @foreach (var post in Model.BlogPosts)
            {
            <div class="article">
                @Html.Partial("BlogPost/_BlogPost", post)
            </div>
            }
        </div>
    </div>
    <div class="col-sm-4">
        @*<div class="card">
            <div class="photo">
                <img src="/images/index/wojciech.jpg" alt="Wojciech Nitwinko" class="img-responsive" />
            </div>
            <div class="introduction">
                <span>Wojciech Nitwinko</span>
            </div>
        </div>*@
        <div class="fb-section">
            <div class="fb-page" data-href="https://www.facebook.com/nitwinko.wojciech/" data-tabs="timeline" data-width="400"
                 data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/nitwinko.wojciech/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/nitwinko.wojciech/">Wojciech Nitwinko</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>
