@model empty.Models.BlogPostViewModel
<article>
    <h1>@Model.Title</h1>
    <h5>@Model.Created.ToString("yyyy-MM-dd")</h5>
    <p>
        <style>
            @Html.Raw(Model.Styles)
        </style>        
        @Html.Raw(Model.Content)
    </p>
</article>